$color-1: #0000FF;
$color-1-darker: #0F2884;
$color-2: #FFFF00;
$color-2-darker: #E2B90E;
$light-grey: #E6E6E6;
$medium-grey: #232323;
$dark-grey: #1A1A1A;

$colour-brand-linkedin: #0077B5;
$colour-brand-twitter: #55acee;
$colour-brand-soundcloud: #ff6600;