@import '../vendor/modularscale/_modularscale.scss';

$modularscale: (
  base: 1em,
  ratio: 1.35
);

$font-display: "purista-web", monospace;
$font-text: "lato", sans-serif;

h2 {
  font-weight: 300;
  font-size: ms(5);
  margin-bottom: 2rem;
}