.link {
  &__branded {
    &--soundcloud {
      color: $colour-brand-soundcloud;
    }
    &--twitter {
      color: $colour-brand-twitter;
    }
    &--linkedin {
      color: $colour-brand-linkedin;
    }
  }
}