.link {
  color: $light-grey;
  text-decoration: none;
  padding: 2rem;
  &__branded {
    &--soundcloud {
      @extend .link;
      &:hover {
        color: $colour-brand-soundcloud;
      }
    }
    &--twitter {
      @extend .link;
      &:hover {
        color: $colour-brand-twitter;
      }
    }
    &--linkedin {
      @extend .link;
      &:hover {
        color: $colour-brand-linkedin;
      }
    }
  }
}